body{
    background-image: -owg-linear-gradient(to bottom right, white, #a7a7a7);
  background-image: -webkit-linear-gradient(to bottom right, white, #a7a7a7);
  background-image: -moz-linear-gradient(to bottom right, white, #a7a7a7);
  background-image: -o-linear-gradient(to bottom right, white, #a7a7a7);
  background-image: linear-gradient(to bottom right, white, #a7a7a7);
}

/* SECTION 1  */
.first-section {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(images/imageDark.jpg) fixed no-repeat;
    height: 100%;
    background-size: cover;
    color: #fff;
	text-align: center;
    padding: 250px 0px;

}

.first-section h2, .first-section h3, {
    font-family: 'proxima-nova', sans-serif;
}
.first-section h2 {
    font-weight: 700;
    font-size: 50px;
}
.first-section h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 14px 0;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
}

/* SECTION 2 */
.culture-section2, .culture-section3 {
  
  color: grey;
  height: 100%;
  background-size: cover;
  padding: 50px 0px;
}

.culture-section2 h2, .culture-section3 h2{
  text-align: center;
}

.titreProjets{
  margin-bottom: 20px;
}

#projetsBoxParent{
  height: 100%;
  margin-left: 0 !important;
}

#projetsBox{
  /*border:   1px solid rgba(170,170,170,.89); */
  color: black;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 6px 9px 22px rgba(65,75,83,1);
  padding: 10px !important;
}

#projetsBox img{
  width: 90%;
  height: 300px;
  margin: 20px;
}

#projetsBox h3{
  text-align: center;
}

.boutton-details{
  text-align: center;
}

.btn {
    font-size: 18px !Important;
    margin-bottom: 10px;
}
.btn-slider1, .btn-slider2, .btn-slider3 {
    background-color: #fff;
    color: #d2282e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px 35px;
    font-weight: 800;
}
.btn-slider1:hover, .btn-slider2:hover {
    background-color: #dbdbdb;
    color: #565299;
}

/* Popup CSS Below */
.flexslider .slides img {
  margin: 0 auto;
  max-width: 100px;
}
.ct-sliderPop {
  width:650px !important;
  height:650px !important;
}
.ct-sliderPop > .inner > .cow-map-img {
  margin-top: 75px;

}
.ct-sectional .col-lg-5.col-lg-offset-1 > img {
  cursor: pointer;
  border-radius: 50%;
}
.ct-sliderPop .inner {
  color: #fff;
  margin-top: 60px;
}
.map-white-border {
  border-bottom: 1px solid #fff;
  width: 30%;
  margin: 50px auto;
}
.ct-sliderPop-container {
  display: none;
  left: 0px;
  opacity: 0;
  top: 0px;
  z-index: 9998;
}
.ct-sliderPop-container.open {
  animation-duration: 0.35s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  display: block;
}
.ct-sliderPop-container {
  overflow:hidden;
  display: inline-table;
  max-width: 650px !important;
  border-radius: 50%;
  left: 50%;
  position: fixed !important; /* Required to override style inline style added by Flexslider */
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 9997;
}
.ct-sliderPop-slide1 {
  background: rgba(86, 83, 83, 0.63) none repeat scroll 0% 0%;
}

.flexslider .slides #popupProjet{
    max-width: 160px !important;
}

.ct-sliderPop-slide2 {
  background: #E14F11 none repeat scroll 0% 0%;
}
.ct-sliderPop-slide3 {
  background: #4F4F99 none repeat scroll 0% 0%;
}.sliderPop.flexslider:hover .flex-direction-nav .flex-prev

.ct-sliderPop .inner .ct-sliderPop-close {
  display: inline-block;
  margin: -1% auto 30px;
  transition: opacity 0.25s ease-in-out 0s;
  width: 75px;
}
.ct-sliderPop h1 {
  font-family: "nimbus-sans-condensed", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
}
.ct-sliderPop h1 span {
  font-family: 'coquette', fantasy;
  text-transform: capitalize;
  line-height: 0.8;
}
.ct-sliderPop h2,
.ct-sliderPop p {
  font-family: "nimbus-sans-condensed", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}
.ct-sliderPop .fa {
    font-size: 84px;
    margin-bottom: 10px;
}
.ct-sliderPop p {
  font-size: 18px;
  padding-bottom: 30px;
  width: 70%;
  line-height: 24px;
  margin: 0 auto;
}
.ct-sliderPop-container .flex-direction-nav a {
  overflow: visible;
}
.flex-direction-nav a,
.flex-direction-nav a.flex-next::before,
.flex-direction-nav a.flex-prev::before {
  color: #fff !important;
}
.flexslider .slides img {
  width: auto !important;
}
.sliderPop-close {
  width: 60px;
}

.inner ul li{
  list-style-type: none;
  text-align: left;
}

.popupProjets{
    margin-bottom: 5%;
    margin-right: 25%;
}

#popup h2{
  padding-top: 20px;
}

/* SECTION 4 CV */
#cv img{
  width: 100%;
  height: 100%;
}

#cv{
    border-top: 1px solid grey;
}

/* SECTION 3 CONTACT */
.culture-section3{
  background: black;
}

#contactBox{
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  /*box-shadow: 6px 9px 22px rgba(65,75,83,1);*/
  padding: 10px !important;
}

#contactBox h3{
  text-align: center;
}

.contact {
   text-align: center;
}

.contact a{
    color : #0288d1;
}

hr{
  border: 0;
  height: 1px;
  background: #fff;
  width: 80%;
}

.logo-linkedin{
    height: 80px;
    width: 30px;
    margin: 0 !important;
}

#linkedin{
    height: 30px;
    width: 30px;
}


/* =================================
  # Navbar
================================= */
.navbar {
  border-radius: 0px !important;
  background-color: black !important;
  margin-bottom: 0px !important;
  border: none !important;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.header{
  border-bottom: 1px solid #fff !important;
}


/* =================================
  # Footer
================================= */
.navbar-fixed-bottom{
  position: relative !important;
}
#footer{
  border-top:  1px solid #fff !important;
  padding-top: 15px;
}

.text-center a{
    color: grey;
}

/* =================================
  # Boutton Retour vers le haut
================================= */
a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}

/* =================================
  # Media Queries
================================= */
@media (max-width: 1200px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

  .ct-sliderPop {
    height: 500px;
    max-width: 500px !important;
  }
  .ct-sliderPop > .inner > .cow-map-img {
    margin-top: 50px;
  }
  .ct-sliderPop-description span {
    font-size: 50px;
  }
  .ct-sliderPop h2,
  .ct-sliderPop-description {
    font-size: 20px;
  }
  .ct-sliderPop h2 {

  }
  .ct-sliderPop-description {
    padding-bottom: 0;
  }
  .ct-sliderPop .inner {
    margin-top: 10px;
  }
  .ct-sliderPop-description .map-fontSize {
    font-size: 80px;
  }
  #projetsBoxParent{
  height: 100%;

}
}

@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
